@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: hidden;
  overflow-y: scroll;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(
      115deg,
      rgba(240, 249, 255, 0.2),
      rgba(240, 249, 255, 0.2)
    ),
    url(assets/bg-day.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#top4 {
  gap: 1rem;
}

#random {
  gap: 1rem;
}

#random:hover {
  overflow-x: scroll;
}

.filterTitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.filterLabel {
  font-size: 0.9rem;
  font-style: italic;
}

/* FIX POSITIONING */
#github {
  max-width: 10px;
}

#cardImg {
  width: 100%;
  height: 10vw;
  overflow: hidden;
  object-fit: cover;
}

/* #genre {
    border:3px solid blue;
    font-style: italic;
    border-radius: 25px;
    background: chocolate;
    text-align: center;
    font-size: x-large;
    transform:scale(50%)
} */

#title {
  font-style: bold;
  text-align: center;
}

/* #platforms {
    text-align: center;
    font-size: 80;
    border:3px solid blue;
    border-radius:25px;
    background: chocolate
} */

#carousel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-x: scroll;
  justify-content: center;
}

#card {
  border: 3px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  max-width: 10rem;
  flex: 0 0 calc(33.33% - 20px);
  transition: transform 0.5s ease;
  overflow: hidden;
}
